.holiday-font {
    font-family: 'Mountains of Christmas', cursive, sans-serif;
}

.title {
    margin-top: 50px;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
    text-shadow: 5px 5px 2px black;
}

.blink {
    margin-top: 50px;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: 5px 5px 2px black;
    animation: blinker 2.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}