button {
  text-decoration: underline;
  text-decoration-color: white;
  box-shadow: black 2px 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: -160px;
}

button:hover {
  box-shadow: 0px 0px;
}

.push-me {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  will-change: transform;
  transition:
          transform
          600ms
          cubic-bezier(.3, .7, .4, 1);
}

.push-me:hover .front {
  transform: translateY(-6px);
  transition:
          transform
          250ms
          cubic-bezier(.3, .7, .4, 1.5);
}

.push-me:active .front {
  box-shadow: green 0px 0px 100px 40px;
  transform: translateY(-2px);
  transition: transform 34ms;
}