* {
    margin: auto;
    max-width: 960px;
}

body{
    background-image: url('./images/outsidetree.jpg');
    height: auto;
    width: auto;
    background-size: cover;
    background-position: 100% 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}