body{
    background-image: url('./images/outsidetree.jpg');
    height: 100vh;
    background-size: cover;
    background-position: 100% 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
