body{
    background-image: url('./images/outsidetree.jpg');
    height: auto;
    width: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 576px;
}